.parallax{
	background-size:cover;
	max-width:100%;
	height: auto;
	background-repeat:no-repeat;
}

.textos{
	font-family:"Raleway";
	color:white;
}

.bigTextos{
		font-family:"Raleway";
	    color:white;
	    font-weight:2em;
}
.box{
	max-width:100%;
	height:auto;
}
.stripes{
	width:100%;
	padding:8%;
}
.firstparallax{
	@extend .parallax;
	background-image:url(../img/parallax-1.jpg);
}
.secondparallax{
	@extend .parallax;
	background-image:url(../img/parallax-3.jpg);
}
.thirdparallax{
	@extend .parallax;
	background-image:url(../img/parallax-2.jpg);
	margin-top:-2px;
}
.fourthparallax{
	@extend .parallax;
	background-image:url(../img/parallax-4.jpg);
}
.scroll{
	height:35px;
	color:$color_titles;
	margin-bottom:1%;
}
.scroll1{
	height:10px;
	margin-bottom:1%;
	margin-top:1%;
}
.logo{
	@extend .box;
	padding-bottom:15%;
}
.textopasion{
	@extend .textos;
	margin:8% 5% 10% 5%;
	padding-left:20%;
}
.nuestra{
	@extend .textos;
	font-weight:700;
	font-size:4.5em;
	line-height:0.6;
}
.pasion{
	font-size:1.5em;
}
#te{
	margin-left:10%;
	margin-top:10%;
}
.types{
	margin:8% 0 8% 0%;
}
.tetypes{
	font-family:"Raleway";
	color:$color_two;
	font-size:2.5em;
	
}
.textopasion1{
	margin:12% 5% 20% 5%;
	padding-left:20%;
	color:$color_titles;
}
.yellow{
	background-color:$color_three;
	padding:5%;
}
.green{
	background-color:$color_one;
	padding:5%;
}
.pink{
	background-color:$color_two;
	padding:5%;
}
footer{
	background-color:$footer;
}
.contacto{
	margin:5% 0 5% 0;
	color:#CDCCCC;
}
.next {
	font-size:60px;
	color:$color_titles;
}

.prev{
	font-size:60px;
	color:$color_titles;
}
.questions{
	font-family:"Raleway";
	font-size:2em;
}
.answers{
	font-size:1em;
}
.info{
	padding:8%
}
.stripe1{
	background-color:$color_one;
	width:$width;
	padding:8%;
}
.lovete{
	padding:$stripe;
	font-family:$font;
}
.stripe1{
	@extend .stripes;
	background-color:$color_one;	
}
.stripe2{
	@extend .stripes;
	background-color:$color_two;	
}
.stripe3{
	@extend .stripes;
	background-color:$color_three;
}
.textcel{
	@extend .bigTextos;
	line-height:0.3;
}
.textcel1{
	font-family:$font;
	font-size:1em;
}
.collage1{
	width:105%;
}
.collage4{
	width:105%;
}
.collage2{
	width:110%;	
}
.collage3{
	width:110%;
	margin-left:2px;
}
.finaltitle{
	font-weight:$font-weight;
}
.transition {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.zoom {
	-webkit-transition: all .4s ease-in-out;
}



