//colores
$color_titles:#FFFFFF;
$color_te_types:#FDA7D8;
$color_one:#51D43C;
$color_two:#FF90BF;
$color_three:#F6F1A4;
$footer:#7A7171;
$stripe:8%;
//font
$font:'Raleway';
$font-weight:700;
//images
$width:100%;
$heigth:auto;
$norepeat:no-repeat;
$size:cover;
